@import url("https//fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: #f9e494;
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: #f9e49480;
  --mainGrey: #eeeeee;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul {
  list-style: none;
}

body{
  font-family: "Kanushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* nav links */
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link {
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover {
  color: var(--mainBlack);
}
/* end of nav links */

/* Info icons */
.cart-info_icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}

































